body {
  font-family: 'Segoe UI', sans-serif;
  background: #f1dfbb;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile-pic {
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Arbutus Slab', serif;
  margin: 0.2rem 0;
  font-size: 1.8rem;
  color: #3d5345;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0.2rem 0 1rem;
  font-weight: normal;
  color: #4a6f56;
}

p {
  margin: 0.2rem 0 1.5rem;
  color: #161c1c;
  max-width: 400px;
  text-align: center;
}

.links a {
  display: block;
  text-decoration: none;
  background: #575f25;
  color: #ffffff;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  transition: background 0.2s ease;
  max-width: 300px;
  text-align: center;
}

.links a:hover {
  background: #3D5345;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #aaa;
}
